<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors List</title>
      <%- include("partials/template.ejs") %>

   <!-- Bootstrap 5 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-GWZpQnDBwXoFlM9VKnR8iZzGrJCUi6yi5X1Xn3QeU3cM9A8H69I4t6eLtXn1KkFNh5sZ7E5KPOhxjQbxi8Yo8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-2.3.1/datatables.min.css" />

  <style>
body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
    .navbar h1 {
      padding: 10px 16px;
      color: white;
      text-decoration: none;
      text-align: center;
      
    }

    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }

    @media screen and (max-width: 600px) {
      .navbar {
        flex-direction: column;
      }
    }
.title {
position: absolute;
top: 5px;
left: 650px;



}
.container {
  position: relative;
  top: 80px;
  left: -91.5px;
}
</style>
</head>
<body>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js" integrity="sha512-43iShtbiyImxjjU4a9rhXBy7eKtIsrpll8xKhe1ghKqh5NyfME8phZs5JRFZpRBe1si44WM3tNmnqMym7JRmDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <h1 class="title">Doctors List</h1>
    

<div class="container">
    <div class="row my-4">
        <div class="col-lg-11">
            <div class="table-responsive">
               <table id="table" class="table table-striped text-center my-3"> 
                <thead>
                    <tr class="table-dark">
                        <th>Nome</th>
                        <th>Apelido</th>
                        <th>Especialidade</th>
                        <th>Telephone</th>
                        <th>doctoreID</th>
                         <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                     <% appointment.forEach(function(appointment){ %>

                    <tr>
                        <td><%= appointment.fname %></td>
                        <td><%= appointment.lname %></td>
                        <td><%= appointment.speciality %></td>
                        <td><%= appointment.phoneNumber %></td>
                        <td><%= appointment.doctoreID %></td>
                        
                    <td>
     <a href="doctorsProfile?doctoreID=<%= appointment.doctoreID %>" class="text-sucess" ><i class="fa-solid fa-eye fa-lg mx-1"></i></a>
                

                    
                    </td>
                    </tr>
                    <%  }); %>
                </tbody>
               </table>
            </div>
        </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/v/dt/dt-2.3.1/datatables.min.js" integrity="sha384-1LmfH5u7+DRwux/q4YYqAi+OjwkIVYJdPQijPS9S28cj8AeFnpNCkSVlZgvRdOzb" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
  $("table").DataTable({
    order:[0, 'desc']
  });
  });
  </script>

</body>
</html>